body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    padding-bottom: 100px;
}

.half-width {
    width: 200%;
    padding-left: 10%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: wheat;
    font-weight: 700;
    border-radius: 5px;
}